body {
  box-sizing: border-box;
  overflow: hidden;
  margin: 0px;
}

/* granat:*#233654* */



p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
}

.p1 {
  font-weight: 400;
  margin-bottom: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: auto;
  height: 8rem;
  margin-right: 10rem;
  margin-left: 10rem;
}

.logo {
  height: 6rem;
  width: auto;
  padding-top: 1rem;
}

.procent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.procent-icon {
  width: 7rem;
  height: 3rem;
}

.kontakt {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.telefon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  justify-items: center;
  align-items: center;
  gap: 2rem;
}

.telefon-icon {
  width: 3rem;
  height: 3rem;
}

.email {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  justify-items: center;
  align-items: center;
  gap: 2rem;
}

.email-icon {
  width: 3rem;
  height: 3rem;
}

.socjale {
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #233654;
  height: 5rem;
  width: 100%;
  color: #eceff1;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0;
}



.img-section-1 {
  width: 10rem
}