body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* granat:*#233654* */

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
}

.p1 {
  font-weight: 400;
  margin-bottom: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 2rem;
  width: auto;
  height: 8rem;
  margin-right: 10%;
  margin-left: 10%;
}

.logo {
  height: 6rem;
  width: auto;
  padding-top: 1rem;
}

.procent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.procent-icon {
  width: 7rem;
  height: 3rem;
}

.kontakt {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.telefon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  justify-items: center;
  align-items: center;
  gap: 2rem;
}

.telefon-icon {
  width: 3rem;
  height: 3rem;
}

.email {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  justify-items: center;
  align-items: center;
  gap: 2rem;
}

.email-icon {
  width: 3rem;
  height: 3rem;
}

.socjale {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.fa-facebook {
  color: #233654;
}

.fa-facebook:hover {
  color: #cfad7e;
  transition: 0.3s;
}

.fa-instagram {
  background-color: #233654;
  color: white;
  border-radius: 50%;
  padding: 0.5rem 0.6rem 0.5rem 0.6rem;
  font-size: 2.2rem;
}

.fa-instagram:hover {
  background-color: #cfad7e;
  transition: 0.3s;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #233654;
  height: 5rem;
  width: auto;
  color: #eceff1;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

.button-trening {
  transition: 0.3s;
  background-color: #cfad7e;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 0.3rem 1.2rem 0.3rem 1.2rem;
  font-weight: 800;
  font-size: 1rem;
  border-radius: 5px;
  text-align: center;
  border: none;
}

.button-trening:hover {
  transition: 0.3s;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

/*######  SEKCJA 1  ######*/

.sekcja-1 {
  position: relative;
}

.div-1 {
  position: absolute;
  top: 20%;
  left: 10%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.div-2 {
  background-color: rgb(35, 54, 84);
  opacity: 80%;
  padding: 1rem 3.8rem 1rem 1rem;
}

.div-2 :first-child {
  color: #eceff1;
  font-size: 3.8rem;
}

.div-2 :last-child {
  color: #eceff1;
  font-size: 1.8rem;
  border-left: 1px solid #cfad7e;
  padding-left: 1rem;
  padding-top: 3px;
  padding-bottom: 3px;
}

.przycisk-1 {
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  background-color: #cfad7e;
  color: #eceff1;
  border: none;
  border-radius: 5px;
  padding: 1rem 4rem 1rem 4rem;
  width: 60%;
  max-height: 80%;
  transition: 0.5s;
}

.przycisk-1:hover {
  background-color: #233654;
  transition: 0.5s;
}

.img-section-1 {
  width: 100%;
  height: auto;
}

/*######  SEKCJA 2  ######*/

.sekcja-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10rem;
  gap: 5rem;
}

.section-2-img-conteiner {
  width: 50%;
}

.img-section-2 {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  box-shadow: #cfad7e -1rem -1rem;
}

.section-2-text-conteiner {
  width: 50%;
}

.section-2-text-conteiner :first-child {
  color: #cfad7e;
  border-left: 1px solid #cfad7e;
  padding-left: 1rem;
  font-size: 3em;
}

.sekcja-2 h1 {
  color: #233654;
  font-size: 2em;
}

.sekcja-2 p {
  font-size: 1.3em;
}

/*######  SEKCJA 3  ######*/

.sekcja-3 {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 100%;
  background-image: url(bieznia-1.jpg);
  background-size: cover;
  z-index: 1;
}

.sekcja-3-hover1:hover {
  transition: 0.3s;
  background-color: white;
  border: 2px solid #cfad7e;
  box-shadow: #cfad7e 0 0 1rem;
  color: #424242 !important;
}

.sekcja-3-hover2:hover {
  transition: 0.3s;
  background-color: white;
  box-shadow: #cfad7e 0 0 1rem;
  color: #424242 !important;
}

.div-3 {
  display: flex;
  justify-content: center;
  gap: 5rem;
  width: 100%;
  height: auto;
  padding-top: 10rem;
  z-index: 2;
  color: white;
  text-align: center;
}

.div-3-div1 {
  border-radius: 1rem;
  width: 20%;
  height: 12rem;
  padding: 2rem;
  text-align: left;
}

.div-3-div1 :first-child {
  border-left: 1px solid #cfad7e;
  padding-left: 5px;
  color: #cfad7e;
  font-size: 1.5rem;
}

.div-3-div1 h1 {
  font-size: 2rem;
}

.div-3-div1 :last-child {
  font-size: 0.9rem;
}

.div-3-div2 {
  border: 2px dashed white;
  border-radius: 1rem;
  width: 20%;
  height: 12rem;
  padding: 2rem;
}

.div-3-div2 :last-child {
  font-size: 0.9rem;
}

.div-3-div3 {
  border: 2px dashed white;
  border-radius: 1rem;
  width: 20%;
  height: 12rem;
  padding: 2rem;
}

.div-3-div3 :last-child {
  font-size: 0.9rem;
}

.div-4 {
  display: flex;
  justify-content: center;
  gap: 5rem;
  width: 100%;
  height: auto;
  padding-bottom: 10rem;
  z-index: 2;
  color: white;
  text-align: center;
}

.div-4-div1 {
  border: 2px dashed white;
  border-radius: 1rem;
  width: 20%;
  height: 12rem;
  padding: 2rem;
}

.div-4-div1 :last-child {
  font-size: 0.9rem;
}

.div-4-div2 {
  border: 2px solid #cfad7e;
  background-color: #cfad7e;
  border-radius: 1rem;
  width: 20%;
  height: 12rem;
  padding: 2rem;
}

.div-4-div2 :last-child {
  font-size: 0.9rem;
}

.div-4-div3 {
  border: 2px dashed white;
  border-radius: 1rem;
  width: 20%;
  height: 12rem;
  padding: 2rem;
}

.div-4-div3 :last-child {
  font-size: 0.9rem;
}