body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* granat:*#233654* */

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
}

.p1 {
  font-weight: 400;
  margin-bottom: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 2rem;
  height: 8rem;
  margin-right: 10%;
  margin-left: 10%;
}

@media (max-width: 1412px) {
  .nav {
    margin-right: 5%;
    margin-left: 5%;
  }
}
@media (max-width: 1255px) {
  .nav {
    margin: 0;
  }
}
@media (max-width: 1190px) {
  .procent {
    display: none !important;
  }
}

.logo {
  height: 6rem;
  padding-top: 1rem;
}

.procent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.procent-icon {
  width: 7rem;
  height: 3rem;
}

.kontakt {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.telefon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  justify-items: center;
  align-items: center;
  gap: 2rem;
}

.telefon-icon {
  width: 3rem;
  height: 3rem;
}

.email {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  justify-items: center;
  align-items: center;
  gap: 2rem;
}

.email-icon {
  width: 3rem;
  height: 3rem;
}

.socjale {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.fa-facebook {
  color: #233654;
}

.fa-facebook:hover {
  color: #cfad7e;
  transition: 0.3s;
}

.fa-instagram {
  background-color: #233654;
  color: white;
  border-radius: 50%;
  padding: 0.5rem 0.6rem 0.5rem 0.6rem;
  font-size: 2.2rem;
}

.fa-instagram:hover {
  background-color: #cfad7e;
  transition: 0.3s;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #233654;
  height: 5rem;
  color: #eceff1;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

.drop-menu {
  display: none;
}

@media (max-width: 1190px) {
  .socjale {
    flex-direction: column;
    padding-top: 0.3rem;
  }

  .menu {
    display: none !important;
  }

  .fa-bars {
    color: #cfad7e;
  }

  .drop-menu {
    background-color: #233654;
    height: 5rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-right: 2rem;
  }

  .div-droped {
    position: absolute;
    z-index: 2;
    display: none;
  }
}

.button-trening {
  transition: 0.3s;
  background-color: #cfad7e;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 0.3rem 1.2rem 0.3rem 1.2rem;
  font-weight: 800;
  font-size: 1rem;
  border-radius: 5px;
  text-align: center;
  border: none;
}

.button-trening:hover {
  transition: 0.3s;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

/*######  SEKCJA 1  ######*/

.sekcja-1 {
  position: relative;
}

.div-1 {
  position: absolute;
  top: 10%;
  left: 10%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 1800px) {
  .div-1 {
    left: 20%;
  }
}

.div-2 {
  background-color: rgb(35, 54, 84);
  opacity: 80%;
  padding: 1rem 3.8rem 1rem 1rem;
  width: 17rem;
}

.div-2 :first-child {
  color: #eceff1;
  font-size: 3.8rem;
}

.div-2 :last-child {
  color: #eceff1;
  font-size: 1.8rem;
  border-left: 1px solid #cfad7e;
  padding-left: 1rem;
  padding-top: 3px;
  padding-bottom: 3px;
}

.przycisk-1 {
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  background-color: #cfad7e;
  color: #eceff1;
  border: none;
  border-radius: 5px;
  padding: 1rem 4rem 1rem 4rem;
  width: 15rem;
  height: 80%;
  transition: 0.5s;
}

.przycisk-1:hover {
  background-color: #233654;
  transition: 0.5s;
}

.img-section-1 {
  width: 100%;
  height: auto;
}

/*######  SEKCJA 2  ######*/

.sekcja-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10rem;
  gap: 5rem;
}

.section-2-img-conteiner {
  width: 50%;
}

.img-section-2 {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  box-shadow: #cfad7e -1rem -1rem;
}

.section-2-text-conteiner {
  width: 50%;
}

.section-2-text-conteiner :first-child {
  color: #cfad7e;
  border-left: 1px solid #cfad7e;
  padding-left: 1rem;
  font-size: 3em;
}

.sekcja-2 h1 {
  color: #233654;
  font-size: 2em;
}

.sekcja-2 p {
  font-size: 1.3em;
}

/*######  SEKCJA 3  ######*/

.sekcja-3 {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 100%;
  background-image: url(bieznia-1.jpg);
  background-size: cover;
  z-index: 1;
}

.sekcja-3-hover1:hover {
  transition: 0.3s;
  background-color: white;
  border: 2px solid #cfad7e;
  box-shadow: #cfad7e 0 0 1rem;
  color: #424242 !important;
}

.sekcja-3-hover2:hover {
  transition: 0.3s;
  background-color: white;
  box-shadow: #cfad7e 0 0 1rem;
  color: #424242 !important;
}

.div-3 {
  display: flex;
  justify-content: center;
  gap: 5rem;
  width: 100%;
  height: auto;
  padding-top: 10rem;
  z-index: 2;
  color: white;
  text-align: center;
}

.div-3-div1 {
  border-radius: 1rem;
  width: 20%;
  height: 12rem;
  padding: 2rem;
  text-align: left;
}

.div-3-div1 :first-child {
  border-left: 1px solid #cfad7e;
  padding-left: 5px;
  color: #cfad7e;
  font-size: 1.5rem;
}

.div-3-div1 h1 {
  font-size: 2rem;
}

.div-3-div1 :last-child {
  font-size: 0.9rem;
}

.div-3-div2 {
  border: 2px dashed white;
  border-radius: 1rem;
  width: 20%;
  height: 12rem;
  padding: 2rem;
}

.div-3-div2 :last-child {
  font-size: 0.9rem;
}

.div-3-div3 {
  border: 2px dashed white;
  border-radius: 1rem;
  width: 20%;
  height: 12rem;
  padding: 2rem;
}

.div-3-div3 :last-child {
  font-size: 0.9rem;
}

.div-4 {
  display: flex;
  justify-content: center;
  gap: 5rem;
  width: 100%;
  height: auto;
  padding-bottom: 10rem;
  z-index: 2;
  color: white;
  text-align: center;
}

.div-4-div1 {
  border: 2px dashed white;
  border-radius: 1rem;
  width: 20%;
  height: 12rem;
  padding: 2rem;
}

.div-4-div1 :last-child {
  font-size: 0.9rem;
}

.div-4-div2 {
  border: 2px solid #cfad7e;
  background-color: #cfad7e;
  border-radius: 1rem;
  width: 20%;
  height: 12rem;
  padding: 2rem;
}

.div-4-div2 :last-child {
  font-size: 0.9rem;
}

.div-4-div3 {
  border: 2px dashed white;
  border-radius: 1rem;
  width: 20%;
  height: 12rem;
  padding: 2rem;
}

.div-4-div3 :last-child {
  font-size: 0.9rem;
}

/*######  SEKCJA 4  ######*/

.sekcja-4 {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;
  background-image: url(bieznia-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.sekcja-4-div1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
  text-align: left;
}

.sekcja-4-div1-div1 :first-child {
  color: #cfad7e;
  border-left: 1px solid #cfad7e;
  padding-left: 5px;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.sekcja-4-div1-div1 :last-child {
  color: #233654;
  font-size: 2rem;
}

.sekcja-4-div1-div2 {
  width: 40%;
  padding-top: 3rem;
}

.sekcja-4-div1-div3 {
  width: 40%;
  padding-top: 3rem;
}

.sekcja-4-div2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
  color: white;
  text-align: center;
}

.sekcja-4-div2-div1 {
  background-color: #cfad7e;
  border-radius: 1rem;
  width: 25%;
  padding: 1.5rem;
  box-shadow: #cfad7e 0 0 1rem;
  background-image: linear-gradient(135deg, #cfad7e, #9c7b30);
}

.sekcja-4-div2-div1 :first-child {
  font-size: 3rem;
  padding-bottom: 1rem;
}

.sekcja-4-div2-div2 {
  background-color: black;
  border-radius: 1rem;
  width: 25%;
  padding: 1.5rem;
  box-shadow: black 0 0 1rem;
  background-image: linear-gradient(135deg, #3a3a3d, black);
}

.sekcja-4-div2-div2 :first-child {
  font-size: 3rem;
  padding-bottom: 1rem;
}

.sekcja-4-div2-div3 {
  background-color: #233654;
  border-radius: 1rem;
  width: 25%;
  padding: 1.5rem;
  box-shadow: #233654 0 0 1rem;
  background-image: linear-gradient(135deg, #233654, #14243d);
}

.sekcja-4-div2-div3 :first-child {
  font-size: 3rem;
  padding-bottom: 1rem;
}

.sekcja-4-div2-div4 {
  background-color: #a2a2a2;
  border-radius: 1rem;
  width: 25%;
  padding: 1.5rem;
  box-shadow: #a2a2a2 0 0 1rem;
  background-image: linear-gradient(135deg, #eceff1, #a2a2a2);
}

.sekcja-4-div2-div4 :first-child {
  font-size: 3rem;
  padding-bottom: 1rem;
  color: black;
}

/*######  SEKCJA 5  ######*/

.sekcja-5 {
  background-color: #eceff1;
  position: relative;
  height: 41rem;
  margin-bottom: 15rem;
}

.sekcja-5-div1 {
  text-align: left;
  width: 31%;
  margin-left: 8.4%;
  padding-top: 5%;
}

.sekcja-5-div1 :first-child {
  color: #cfad7e;
  border-left: 1px solid #cfad7e;
  padding-left: 5px;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.sekcja-5-div1 :nth-child(2) {
  color: #233654;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.sekcja-5-div2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: 20rem;
  width: 100%;
  gap: 14rem;
  margin-top: 1rem;
}

.sekcja-5-div2-div1 {
  display: flex;
  flex-direction: row;
  align-items: last baseline;
  width: 20%;
  height: 25rem;
  background-image: url(osoba-1.jpg);
  background-size: cover;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: #a2a2a2 0 0 1rem;
}

.sekcja-5-div2-div1:hover {
  background-image: url(osoba-1-2.jpg);
  background-size: fill;
}

.sekcja-5-div2-div1 :first-child {
  text-align: center;
  width: 100%;
  background-color: white;
  padding: 0.5rem;
}

.sekcja-5-div2-div1 div :first-child {
  font-size: 1.5rem;
  color: #cfad7e;
}

.sekcja-5-div2-div2 {
  display: flex;
  flex-direction: row;
  align-items: end;
  width: 20%;
  height: 25rem;
  background-image: url(osoba-2.jpg);
  background-size: cover;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: #a2a2a2 0 0 1rem;
}

.sekcja-5-div2-div2:hover {
  background-image: url(osoba-2-2.jpg);
  background-size: fill;
}

.sekcja-5-div2-div2 :first-child {
  text-align: center;
  width: 100%;
  background-color: white;
  padding: 0.5rem;
}

.sekcja-5-div2-div2 div :first-child {
  font-size: 1.5rem;
  color: #cfad7e;
}

.sekcja-5-div2-div3 {
  display: flex;
  flex-direction: row;
  align-items: end;
  width: 20%;
  height: 25rem;
  background-image: url(osoba-3.jpg);
  background-size: cover;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: #a2a2a2 0 0 1rem;
}

.sekcja-5-div2-div3:hover {
  background-image: url(osoba-3-2.jpg);
  background-size: fill;
}

.sekcja-5-div2-div3 :first-child {
  text-align: center;
  width: 100%;
  background-color: white;
  padding: 0.5rem;
}

.sekcja-5-div2-div3 div :first-child {
  font-size: 1.5rem;
  color: #cfad7e;
}

/*######  SEKCJA 6  ######*/

.sekcja-6 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 9%;
  margin-right: 9%;
  margin-bottom: 15rem;
}

.sekcja-6-div1 {
  position: absolute;
  right: 3%;
  top: 10%;
}

.sekcja-6-img {
  opacity: 20%;
  color: #eceff1;
  width: 20rem;
}

.sekcja-6-div2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 3rem;
}

.sekcja-6-div-logo {
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: #eceff1;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  padding: 2rem;
  box-shadow: #cfad7e -1rem -1rem;
  opacity: 90%;
}

.sekcja-6-logo-img {
  width: 7rem;
  height: 5rem;
}

.sekcja-6-div-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 3rem;
}

.sekcja-6-div-text :first-child {
  border-left: 1px solid #cfad7e;
  color: #cfad7e;
  padding-left: 1rem;
  font-size: 1.5rem;
}

.sekcja-6-div-text :last-child {
  font-size: 2.5rem;
  color: #233654;
}

.sekcja-6-div3 {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  text-align: left;
}

.sekcja-6-div3 div {
  width: 30%;
}

.sekcja-6-div3-div1 :first-child {
  font-size: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #cfad7e;
}

.sekcja-6-div3-div1 :last-child {
  font-size: 1rem;
  font-weight: 400;
}

.sekcja-6-div3-div2 :first-child {
  font-size: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #cfad7e;
}

.sekcja-6-div3-div2 :last-child {
  font-size: 1rem;
  font-weight: 400;
}

.sekcja-6-div3-div3 :first-child {
  font-size: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #cfad7e;
}

.sekcja-6-div3-div3 :last-child {
  font-size: 1rem;
  font-weight: 400;
}

/*######  SEKCJA 7  ######*/

.sekcja-7 {
  display: flex;
  flex-direction: column;
  padding-bottom: 8rem;
}

.sekcja-7-div1 {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 2rem;
  text-align: center;
  padding-bottom: 3rem;
}

.sekcja-7-div1 :first-child {
  color: #cfad7e;
  font-size: 1.5rem;
}

.sekcja-7-div1 :nth-child(2) {
  color: #233654;
  font-size: 2.5rem;
}

.sekcja-7-div1 :last-child {
  color: black;
  font-weight: 400;
  margin: 0 30rem 0 30rem;
}

.sekcja-7-div2 {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-right: 9%;
  margin-left: 9%;
}

.sekcja-7-div2 div {
  border-radius: 1rem;
  box-shadow: #cfad7e 0 0 2.5rem -1rem;
  border-bottom: 6px solid #cfad7e;
  overflow: hidden;
}

.sekcja-7-div2-div1 {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.sekcja-7-div2-div2 {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.sekcja-7-div2-div3 {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.sekcja-7-div2-div1 :first-child {
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.sekcja-7-div2-div1 :nth-child(2) {
  font-size: 1.5rem;
  padding: 2rem 0 0.5rem 2rem;
}

.sekcja-7-div2-div1 :nth-child(3) {
  font-size: 1rem;
  color: #a2a2a2;
  font-weight: 400;
  padding: 0 0 1rem 2rem;
}

.sekcja-7-div2-div1 :nth-child(4) {
  font-weight: 400;
  padding: 0 2rem 1rem 2rem;
}

.sekcja-7-div2-div1 :nth-child(5) {
  color: #cfad7e;
  padding: 0 2rem 1rem 2rem;
}

.sekcja-7-div2-div2 :first-child {
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.sekcja-7-div2-div2 :nth-child(2) {
  font-size: 1.5rem;
  padding: 2rem 0 0.5rem 2rem;
}

.sekcja-7-div2-div2 :nth-child(3) {
  font-size: 1rem;
  color: #a2a2a2;
  font-weight: 400;
  padding: 0 0 1rem 2rem;
}

.sekcja-7-div2-div2 :nth-child(4) {
  font-weight: 400;
  padding: 0 2rem 1rem 2rem;
}

.sekcja-7-div2-div2 :nth-child(5) {
  color: #cfad7e;
  padding: 0 2rem 1rem 2rem;
}

.sekcja-7-div2-div3 :first-child {
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.sekcja-7-div2-div3 :nth-child(2) {
  font-size: 1.5rem;
  padding: 2rem 0 0.5rem 2rem;
}

.sekcja-7-div2-div3 :nth-child(3) {
  font-size: 1rem;
  color: #a2a2a2;
  font-weight: 400;
  padding: 0 0 1rem 2rem;
}

.sekcja-7-div2-div3 :nth-child(4) {
  font-weight: 400;
  padding: 0 2rem 1rem 2rem;
}

.sekcja-7-div2-div3 :nth-child(5) {
  color: #cfad7e;
  padding: 0 2rem 1rem 2rem;
}

.sekcja-7-imgcon1 {
  height: 25rem;
  width: auto;
}

.sekcja-7-imgcon2 {
  height: 25rem;
  width: auto;
}

.sekcja-7-imgcon3 {
  height: 25rem;
  width: auto;
}

.sekcja-7-img1 {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.sekcja-7-img1:hover {
  scale: 1.2 1.2;
  transition: 0.3s;
}

.sekcja-7-img2 {
  width: 100%;
  height: 100%;
  transition: 0.3s;
  scale: 1.5 1;
}

.sekcja-7-img2:hover {
  scale: 2 1.35;
  transition: 0.3s;
}

.sekcja-7-img3 {
  width: 100%;
  height: 100%;
  transition: 0.3s;
  scale: 1.3 1;
}

.sekcja-7-img3:hover {
  scale: 1.6 1.25;
  transition: 0.3s;
}

/*######  SEKCJA 8  ######*/

.sekcja-8 {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  padding: 4rem 0 4rem 0;
  background-image: url("bieznia-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5rem;
}

.sekcja-8-div1 {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 9%;
}

.sekcja-8-div1 div {
  padding-left: 2rem;
}

.sekcja-8-div1 div p {
  color: white;
  font-weight: 400;
}

.sekcja-8-div1 div h2 {
  color: #cfad7e;
  border-left: 1px solid #cfad7e;
  padding-left: 5px;
  font-size: 3rem;
}

.sekcja-8-div1-div2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  padding-bottom: 2rem;
}

.fa-phone {
  color: #cfad7e;
}

.fa-envelope {
  color: #cfad7e;
}

.sekcja-8-div1-div3 {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.fa-map-location-dot {
  color: #cfad7e;
}

.sekcja-8-div1-div4 {
  display: flex;
  flex-direction: column;
}

.sekcja-8-div1-div4-h3 {
  color: #eceff1;
  font-size: 2.5rem;
  padding: 2rem 0 1rem 0;
}

.sekcja-8-div1-div4 :last-child {
  padding-right: 41%;
}

.sekcja-8-div2 {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-right: 17%;
}

.sekcja-8-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  width: 100%;
  height: 100%;
  background-color: #eceff1;
  border-radius: 1rem;
  border-bottom: 6px solid #cfad7e;
}

.sekcja-8-input1 {
  padding: 0.4rem;
  color: #424242;
  opacity: 50%;
}

.sekcja-8-input2 {
  padding: 0.4rem;
  color: #424242;
  opacity: 50%;
}

.sekcja-8-input3 {
  padding: 0.4rem;
  color: #424242;
  opacity: 50%;
}

.sekcja-8-textarea {
  padding: 0.4rem;
  color: #424242;
  opacity: 50%;
  height: 8rem;
  resize: none;
  box-sizing: border-box;
  text-wrap: wrap;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.sekcja-8-zgoda {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.sekcja-8-zgoda p {
  font-size: 0.8rem;
  font-weight: 400;
}

.sekcja-8-button {
  border: none;
  background-color: #cfad7e;
  color: #eceff1;
  border-radius: 5px;
  width: 10rem !important;
  height: 3rem;
  font-size: 1.5rem;
  margin: auto;
  margin-top: 1rem;
}

.sekcja-8-button:hover {
  background-color: #233654;
  color: #eceff1;
}

/*######  SEKCJA 9  ######*/

.sekcja-9 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 0 9% 10rem 9%;
}

.sekcja-9-div1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding-bottom: 2rem;
}

.sekcja-9-div1 :nth-child(1) {
  color: #cfad7e;
  font-size: 1.5rem;
}

.sekcja-9-div1 :nth-child(2) {
  color: #233654;
  font-size: 2rem;
}

.sekcja-9-div1 :nth-child(3) {
  color: #424242 !important;
  text-align: center;
  margin: 0 15rem 0 15rem;
}

.group-conteiner {
  display: flex;
  flex-direction: row;
  margin: 0 9% 0 9%;
  gap: 3rem;
}

.sekcja-9-div2 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 40%;
}

.sekcja-9-div2-div1 {
  text-align: right;
  border-right: 3px solid #cfad7e;
  padding-right: 1rem;
  height: 100%;
}
.sekcja-9-div2-div1 :first-child {
  font-size: 1.2rem;
}
.sekcja-9-div2-div1 :last-child {
  font-weight: 400;
}

.sekcja-9-div2-div2 {
  text-align: right;
  border-right: 3px solid #cfad7e;
  padding-right: 1rem;
  height: 100%;
}
.sekcja-9-div2-div2 :first-child {
  font-size: 1.2rem;
}
.sekcja-9-div2-div2 :last-child {
  font-weight: 400;
}

.sekcja-9-logo {
  width: 15rem;
  padding-top: 1.5rem;
}

.sekcja-9-div3 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 40%;
}

.sekcja-9-div3-div1 {
  text-align: left;
  border-left: 3px solid #cfad7e;
  padding-left: 1rem;
  height: 100%;
}
.sekcja-9-div3-div1 :first-child {
  font-size: 1.2rem;
}
.sekcja-9-div3-div1 :last-child {
  font-weight: 400;
}

.sekcja-9-div3-div2 {
  text-align: left;
  border-left: 3px solid #cfad7e;
  padding-left: 1rem;
  height: 100%;
}
.sekcja-9-div3-div2 :first-child {
  font-size: 1.2rem;
}
.sekcja-9-div3-div2 :last-child {
  font-weight: 400;
}

/*######  FOOTER  ######*/

footer {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  padding: 3rem 9% 3rem 9%;
  background-color: #233654;
  gap: 4rem;
}

.footer-div1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 1rem;
}

.footer-div1-div1 {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.footer-div1-div1 ul {
  list-style: none;
  color: #eceff1;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-div1-div1 ul li {
  margin-bottom: 1rem;
}

.footer-div1-div2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.footer-div1-div2-phone {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: #eceff1;
}

.footer-div1-div2-phone p {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 1rem;
}

.footer-div1-div2-email {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: #eceff1;
  padding-left: 0.6rem;
}

.footer-div1-div2-email p {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 1rem;
}

.footer-div2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 30%;
}

.footer-logo {
  width: 6rem;
}

.footer-line {
  background-color: #eceff1;
  width: 100%;
  height: 1px;
}

.footer-div2 p {
  color: #eceff1;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 0.8rem;
  margin: 0;
}

.footer-div2 h2 {
  color: #cfad7e;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  margin: 0;
}

.footer-social {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 1rem;
}

.footer-social :first-child {
  background-color: #233654;
  color: #eceff1;
  border-radius: 50%;
}
.footer-social :first-child:hover {
  background-color: #eceff1;
  color: #cfad7e;
}

.footer-social :last-child {
  color: #233654;
  background-color: #eceff1;
  padding: 0.5rem 0.7rem 0.5rem 0.7rem;
}
.footer-social :last-child:hover {
  background-color: #cfad7e;
  color: #eceff1;
}

.footer-div3 {
  color: #eceff1;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  padding-top: 2rem;
}
